<!--
<div class="container mt-4">
  <app-header></app-header>

  <div class="row">
    <div class="col-md-5">
      <app-task-form (tareaAgregada)="agregarNuevaTarea($event)"></app-task-form>
    </div>
    <div class="col-md-7">
      <app-task-list [tareas]="tareas"></app-task-list>
    </div>
  </div>
  <app-footer></app-footer>
</div>
-->
<div class="container mt-4">
  <h1 class="mb-4">Lista de productos</h1>

  <div class="mb-4">
    <input
      type="text"
      class="form-control mb-2"
      placeholder="Nombre del producto"
      [(ngModel)]="nuevoNombre"
    />
  </div>
  <div class="form-check mb-2">
    <input
      class="form-check-input"
      type="checkbox"
      [(ngModel)]="nuevoDisponible"
      id="disponibleCheck"
    />
    <!-- id -> identifica al checkbox en el HTML -->
    <label class="form-check-label" for="disponibleCheck"> Disponible </label>
  </div>

  <button class="btn btn-primary mb-2" (click)="agregarProducto()">Agregar producto</button>

  <div *ngIf="errorMensaje" class="alert alert-danger">
    {{ errorMensaje }}
  </div>

  <table class="table table-bordered table-striped" *ngIf="productos.length > 0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Disponible</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <td>{{ producto.id }}</td>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.disponible ? 'Sí' : 'No' }}</td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="productos.length === 0 && !errorMensaje" class="alert alert-warning">
    No hay productos para mostrar.
  </div>
</div>
